.containerQuestions {
  display: grid;
  justify-content: center;
  
     padding:0 2rem;
}

.container {
  display: grid;
  justify-content: center;
}
 

 
  
 


.block {
  border-radius: 25px;
  background: var(--main-bg-purple);
  box-shadow: 2px 2px 60px #3d319b, -2px -2px 60px #5343d1;
  width: 35rem;
  width: calc(35rem - 100px);
  height: max-content;
  padding: 2rem;
   
}
 
.highlighter {
  height: fit-content; 
  }

/* .answer_section {
  width:calc(40vw - 20vw);
} */

.answer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-break: break-all;
  margin: 1vh 0;
  padding: 0.3em 0.7em;
  border-radius: 0.5em;
  color: var(--main-bg-white);
  border: var(--border-one);
  transition: var(--transition);
  background: var(--main-bg-background);
  box-shadow: var(--boxShadow-one);
  font-size: 1em;cursor: pointer;
}

/* .answer:hover {
    border:1px solid var(--main-bg-hover);
   word-break: break-all;
}

.answer:active {
 background:var(--main-bg-hover);
   word-break: break-all;
  
} */
.bar {
  border-radius: 0.5em;
  margin-top: 1rem;
  color: var(--main-bg-white);
  border: var(--border-one);
  transition: all 0.3s;
  background: var(--main-bg-black);
  margin: 0.3rem 0;
  padding: 0.3em 0.7em;
  border-radius: 0.5em;
  
  box-shadow: var(--boxShadow-one);
}

.questionText {
  text-align: start;
  font-weight: 600;
  font-size: 1rem;
  color: var(--main-bg-black);
}
.questionCount {
  display: flex;
  justify-content: space-between;
}

.topNav {
  overflow: hidden;
  margin: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.link {
  float: left;
  margin: 0.5rem;
  color: var(--main-bg-white);
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1rem;
  width: auto;
  display: flex;
  justify-content: space-between;
  background: var(--main-bg-background);
  box-shadow: var(--boxShadow-one); transition: var(--transition)
}

.link:hover {
  border: var(--border-one);
  cursor: pointer;
    box-shadow:var(--hover);
}

.link:active {
  font-weight: bold;
  box-shadow: var(--boxShadow-one);
}

.topNavRight {
  right: 1rem;
}

.nextBtnContainer {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.nextBtn {
  align-items: center;
 border: 0;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid transparent;
  margin: 0.5em;
  color: var(--main-bg-white);
  font-size: 1rem;
  padding: 0.8em 1.2em;
  background: var(--main-bg-background);
  box-shadow: var(--boxShadow-one);
  transition: var(--transition)
}

.nextBtn:hover {
  font-size: 1.2rem;
}

.correctTitle {
  text-transform: uppercase;
  color: var(--main-bg-white);
  font-weight: bold;
  padding: 0.3rem;
  font-size: 1em;
}
.correctText {
  text-transform: uppercase;
  font-weight: 900;
  padding: 0.3rem;
}
.correctTextExplanation {
  color: var(--main-bg-black);
  font-weight: 900;
  padding: 0.3rem;
  height:fit-content;
  font-size: 1em;
  white-space: wrap;
  text-transform: none;
}


.score {
  color: var(--main-bg-white);
  padding: 7px;
  border-radius: 5px;
  background: var(--main-bg-background);
  box-shadow: var(--boxShadow-one);
}

/* Save Component */

.saveSection {
  display: grid;
  place-items: center;
}

.scoreSection {
  display: inline-block;
  text-align: center;
  font-size: 3em;
  border-radius: 7px;
  font-weight: 900;
  padding: 0.5em;
  color: var(--main-bg-titles);
  background: var(--main-bg-background);
  box-shadow: var(--boxShadow-one);
   
}


 
 .blockAnswers{
   align-items: center;justify-items: center;
  width: calc(100% - 700px);
 
 }


 /* Report */

 
.reportContainer {
  display: grid;
  place-items: center;
}

.reportFormContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;
 margin-top: 4vw;
  width:20rem;
 min-width: 10rem;
  
}

.label {
  white-space: wrap;
    font-weight: 900;
  font-size:1.2em;
    align-items: center;
  justify-items: center;
  color: var(--main-bg-black);
  padding:0;
  margin: 0;
}
.warning {
  white-space: wrap;
  text-transform: none;
  text-align: center;
    font-size:1em;
   
  align-items: center;
  justify-items: center;
  color: var(--main-bg-red);
}

.reportInputMessage {
  line-height: 4em;width:20rem; min-width: 10rem;
}
.reportInput {
 width:20rem; min-width: 10rem;
}


.correctAnswer{
  display: flex;
  flex-direction: column;
 
}