:root {
  --main-bg-purple: #483ab6;
  --main-bg-black: #282a36;
  --main-bg-red: #db3069;
  --main-bg-white: #e8e8e8;
  --main-bg-green: #82a7a6;
}






html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  background: var(--main-bg-purple);

  font-size: 1rem;
   
}

* {
  box-sizing: border-box;
}

 

p{
  margin:0.2em;
  padding:0.2em
}