/* :root {
  --main-bg-background: #483ab6;
  --main-bg-black: #282a36;
  --main-bg-titles: #13141b;
  --main-bg-red: #db3069;
  --main-bg-white: #e8e8e8;
  --main-bg-green: #82a7a6;
} */
:root {
  --main-bg-background: #483ab6;
  --main-bg-black: #282a36;
  --main-bg-titles: #ff9678;
  --main-bg-red: #db3069;
  --main-bg-white: #e8e8e8;
  --main-bg-green: #82a7a6;
  --boxShadow-one:2px 2px 6px #3d319b, -2px -2px 6px #5343d1;
  --boxShadow-two:2px 2px 4px #c5c5c5, -2px -2px 4px var(--main-bg-white);
  --border-one: 1px solid var(--main-bg-background);
  --border-hole: box-shadow: inset 10px 10px 20px #232530,
            inset -10px -10px 20px #2d2f3c;
  --hover:inset 20px 20px 60px #3d319b,
            inset -20px -20px 60px #5343d1;
--transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  background: var(--main-bg-background);
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0.2em;
  padding: 0.2em;
}

input {
  line-height: 2em;
  width: 20vw;
  border-radius: 5px;
  background: var(--main-bg-white);
  box-shadow: inset 12px 12px 29px #e0e0e0, inset -12px -12px 29px var(--main-bg-white);
  transition: ease-in-out, width 0.35s ease-in-out;
}

a {
  font-size: 1rem;
  transition: var(--transition);
}



p{
  text-transform: uppercase;
  font-weight:700;
  font-size:2em;color:var(--main-bg-black);
  clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 600px) {
  a {
    font-size: 3vw;
  }
}
