.topNav {
  margin: 1vh 3vw;
  display: inline-block;
  white-space: nowrap;
}

 

.link {
  float: left;
  margin: 0.5rem;
  color: var(--main-bg-white);
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 10px;
  background: var(--main-bg-background);
  box-shadow: var(--boxShadow-one)
}

.link:hover {
  font-size: 1.2rem;
}

.link:active {
  font-weight: bold;
  box-shadow:  var(--boxShadow-one);
}

.topNavRight {
  display: inline-block;
  position: absolute;
  right: 1rem;
}
