.topnav {
  overflow: hidden;
  margin:1rem 3rem;
  
}

.link {
  float: left;
  margin :0.5rem;
   color:whitesmoke;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  border-radius:10px;
  font-size: 1rem;

   background: #483ab6;
  box-shadow: 2px 2px 6px #3d319b, -2px -2px 6px #5343d1;
}


.link:hover {
 border: 1px solid #483ab6;
  box-shadow: 2px 2px 4px #c5c5c5,
             -2px -2px 4px #ffffff;
}

.link:active {
    font-weight: bold; 
 box-shadow: 2px 2px 4px #c5c5c5,
             -2px -2px 4px #ffffff;
}

 

.topnavRight {
  float: right;
}