.container{
display: flex;
align-items: center;justify-content: center;
padding:2rem;
margin:2rem;

}

.answer_section{
    display: inline;
    background-color:red;
}

.answer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}