.tutor {
  text-align: center;
  font-family: monospace;
  
}

.tutor__header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #09d3ac;
}

.character {
  white-space: pre;
}

.charCurrent {
  background-color: #09d3ac;
}

.characterOut {
  color: silver;
}

/* .statics__header {
  color: orange;
} */

.text-p {
  color: white;
  word-wrap: wrap;
  width: 60%;
  font-size: 1.4em;
}

.lessons_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
